*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
h2{
	font-size: 40px;
}
table{
    margin-top: 0;
    letter-spacing: 1.2px;
    background-color: #2a97d2;
    color: black;
}
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color:#2a97d2;
   color: white;
 }
 .table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #8ed4fa;
   opacity: 90%;
   color: black;
 }

.bg{
    position: fixed;
}
td{
	text-align: center;
}

button{
	border:none;
	background:white;
    transition: 1s;
}

thead{
    background-color: #6ec7f7;
    opacity: 90%;
    color: black;
}

@media only screen and (orientation: portrait){
	*{
		letter-spacing: 1px;
	}
}